.info_box {
  grid-column: 4 / 1 span;
  align-self: start;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  @media (max-width: 650px) {
    grid-column: 1 / -1;
  }


}

.btn {
  position: relative;
  display: block;
  margin: 1rem 0;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  color: var(--font-color);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background: none;
  border: 0.5rem dashed var(--secondary-color);
  cursor: pointer;
  overflow: hidden;
  outline: none;

  &:hover {
    color: var(--secondary-color);

    &::before {
      transform: translateX(0);
    }
  }

  @media (max-width: 650px) {
    &:hover {
      color: inherit;

      &::before {
        transform: translateX(-110%);
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateX(-110%);
    z-index: -1;
  }

  &.active {
    color: var(--secondary-color);

    &::before {
      transform: translateX(0);
    }

    @media (max-width: 650px) {
      &:hover {
        color: var(--secondary-color);

        &::before {
          transform: translateX(0);
        }
      }
    }
  }

  &--new {
    border: 0.5rem solid var(--font-color);
  }
  &--tumblr {
    border: 0.5rem solid #2f4155;
  }
  &--tw {
    border: 0.5rem solid #1da1f2;
  }
}
